- flash.each do |name, msg|
  - if msg.is_a?(String)
    .span8.offset2{:class => "alert fade in alert-#{name}", :style => 'text-align:center'}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, :id => "flash_#{name}"
