%section#footerSection
  .container
    %footer.footer.well.well-small
      .row-fluid
        .span3
          %h5 Find us on
          %div{:style => "font-size:2.5em;"}
            %a{"data-toggle" => "modal", :href => "#facebook", :role => "button", :style => "display:inline-block; width:1em"}
              %i.icon-facebook-sign
            %a{"data-toggle" => "modal", :href => "#twitter", :role => "button", :style => "display:inline-block; width:1em", :title => ""}
              %i.icon-twitter-sign
            %a{"data-toggle" => "modal", :href => "#youtube", :role => "button", :style => "display:inline-block;width:1em"}
              %i.icon-facetime-video
            %a{:href => "#", :style => "display:inline-block;width:1em", :title => ""}
              %i.icon-google-plus-sign
            %a{"data-toggle" => "modal", :href => "#rss", :role => "button", :style => "display:inline-block;width:1em"}
              %i.icon-rss               
      %p{:style => "padding:18px 0 44px"} &copy; sudipsahoo 2014 | Template credit: Surya Adhikari
  / /container
%a#toTop.btn{:href => "#", :style => "position: fixed; bottom: 38px; right: 10px; display: none; "}
  %i.icon-arrow-up
  Go to top