%section#footerSection
  .container
    %footer.footer.well.well-small
      .row-fluid
        .span4
          %h4 Newsletter and Subscription
          %h5 Our aim
          %em
            "To provide affordable web design and development services for different devices is our aim,
            that fully meet your requirements."
            %br
            %br
          %h5 What our client say?
          %em
            " I can confirm, bougth the theme a couple of days afo and it is really fantastic. Very flexible, very good support. I really like it."
          %br
          %br
          %h5 Subscription
          %form
            .input-append
              %input#appendedInputButton{:placeholder => "Enter your e-mail", :type => "text"}
                %button.btn.btn-warning{:type => "button"} send
        .span5
          %h4 Latest news
          %ul.media-list
            %li.media
              %a.pull-left{:href => "blog_details.html"}
                %img.media-object{:alt => "bootstrap business template", :src => "assets/img64x64.png"}
              .media-body
                %h5.media-heading Why our customers satisfied?
                "To provide affordable web design and..."
                %br
                %small
                  %em November 14, 2012
                  %a{:href => "blog_details.html"} More
            %li.media
              %a.pull-left{:href => "blog_details.html"}
                %img.media-object{:alt => "bootstrap business template", :src => "assets/img64x64.png"}
              .media-body
                %h5.media-heading Why our customers satisfied?
                "To provide affordable web design and..."
                %br
                %small
                  %em November 14, 2012
                  %a{:href => "blog_details.html"} More
            %li.media
              %a.pull-left{:href => "blog_details.html"}
                %img.media-object{:alt => "bootstrap business template", :src => "assets/img64x64.png"}
              .media-body
                %h5.media-heading Why our customers satisfied?
                "To provide affordable web design and..."
                %br
                %small
                  %em November 14, 2012
                  %a{:href => "blog_details.html"} More
            %li.media
              %a.pull-left{:href => "blog_details.html"}
                %img.media-object{:alt => "bootstrap business template", :src => "assets/img64x64.png"}
              .media-body
                %h5.media-heading Why our customers satisfied?
                "To provide affordable web design and..."
                %br
                %small
                  %em November 14, 2012
                  %a{:href => "blog_details.html"} More
        .span3
          %h4 Visit us
          %address{:style => "margin-bottom:15px;"}
            %strong
              %a{:href => "index.html", :title => "business"}
                %i.icon-home
                Business (p.) Ltd.
            %br
              194, Vectoria Street, Newwork
              %br
                nw 488, USA
                %br
          Phone:
          %i.icon-phone-sign
          \&nbsp; 00123 456 000 789
          %br
            Email:
            %a{:href => "contact.html", :title => "contact"}
              %i.icon-envelope-alt
              info@companyltd.com
            %br
            Link:
            %a{:href => "index.html", :title => "Business ltd"}
              %i.icon-globe
              www.businessltd.com
            %br
            %br
            %h5 Quick Links
            %a{:href => "services.html", :title => "services"}
              %i.icon-cogs
              Services
            %br
            %a{:href => "about.html", :title => ""}
              %i.icon-info-sign
              About us
            %br
            %a{:href => "portfolio.html", :title => "portfolio"}
              %i.icon-question-sign
              Portfolio
            %br
            %h5 Find us on
            %div{:style => "font-size:2.5em;"}
              %a{"data-toggle" => "modal", :href => "#facebook", :role => "button", :style => "display:inline-block; width:1em"}
                %i.icon-facebook-sign
              %a{"data-toggle" => "modal", :href => "#twitter", :role => "button", :style => "display:inline-block; width:1em", :title => ""}
                %i.icon-twitter-sign
              %a{"data-toggle" => "modal", :href => "#youtube", :role => "button", :style => "display:inline-block;width:1em"}
                %i.icon-facetime-video
              %a{:href => "#", :style => "display:inline-block;width:1em", :title => ""}
                %i.icon-google-plus-sign
              %a{"data-toggle" => "modal", :href => "#rss", :role => "button", :style => "display:inline-block;width:1em"}
                %i.icon-rss               
              / Facebook
              #facebook.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "facebook", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3 Facebook Header
                .modal-body
                  %p Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer.
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              / Twitter
              #twitter.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "twitter", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3 Twitter Header
                .modal-body
                  %p Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer.
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              / Rss feed
              #rss.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "rss", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3 RSS fed header
                .modal-body
                  %p Our aim is simple - to provide affordable web design and development services for Mobile and Computer by creating websites that fully meet your requirements a professional look that inspire confidence in your customer.
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
              / Youtube
              #youtube.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "youtube", :role => "dialog", :tabindex => "-1"}
                .modal-header
                  %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
                  %h3 Youtube Vedio
                .modal-body
                  Vedios here
                .modal-footer
                  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Close
                  %button.btn.btn-primary Save changes
      %p{:style => "padding:18px 0 44px"} &copy; 2012, allright reserved
  / /container
%a#toTop.btn{:href => "#", :style => "position: fixed; bottom: 38px; right: 10px; display: none; "}
  %i.icon-arrow-up
  Go to top