%meta{:charset => "utf-8"}

  %meta{:content => "A microblog inspired from twitter", :name => "description"}
  %meta{:content => "microblog sudip sahoo inspired from twitter", :name => "keywords"}
  %meta{:content => "Sudip Sahoo", :name => "author"}

  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}

  / For facebook
  %meta{:content => "", :property => "og:title"}
  %meta{:content => "", :property => "og:description"}
  %meta{:content => "", :property => "og:type"}
  %meta{:content => "", :property => "og:url"}
  %meta{:content => "", :property => "og:image"}
