%section#carouselSection{:style => "text-align:center"}
  #myCarousel.carousel.slide
    .carousel-inner
      .item.active{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business webebsite template", :src => "assets/carousel/business_website_templates_1.jpg"}
            .carousel-caption
              %h2 What we do?
              %p We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.  We recently introduce cheapest and best mobile web design packages in our services.
              %a.btn.btn-large.btn-success{:href => "services.html"} Read more
      .item{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business themes", :src => "assets/carousel/business_website_templates_2.jpg"}
            .carousel-caption
              %h2 Who we are?
              %p We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets. We recently introduce cheapest and best mobile web design packages in our services.
              %a.btn.btn-large.btn-success{:href => "about_us.html"} Read more
      .item{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business themes", :src => "assets/carousel/business_website_templates_3.jpg"}
            .carousel-caption
              %h2 What we have done?
              %p We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.  We recently introduce cheapest and best mobile web design packages in our services.
              %a.btn.btn-large.btn-success{:href => "portfolio.html"} Our Portfolio
      .item{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business themes", :src => "assets/carousel/business_website_templates_4.jpg"}
            .carousel-caption
              %h2 Blog
              %p We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets. We recently introduce cheapest and best mobile web design packages in our services.
              %a.btn.btn-large.btn-success{:href => "blog.html"} Recent NEWS
      .item{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business themes", :src => "assets/carousel/business_website_templates_5.jpg"}
            .carousel-caption
              %h2 Need help?
              %p We specialise in web design, web development and graphic design for different Desktop, Mobiles and Tablets.  We recently introduce cheapest and best mobile web design packages in our services.
              %a.btn.btn-large.btn-success{:href => "contact.html"} Contact us
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;