%section#carouselSection{:style => "text-align:center"}
  #myCarousel.carousel.slide
    .carousel-inner
      .item.active{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business webebsite template", :src => "assets/carousel/business_website_templates_1.jpg"}
            .carousel-caption
              %h2 Why?
              %p Life is short, there is no time to leave important words unsaid.
      .item{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business themes", :src => "assets/carousel/business_website_templates_2.jpg"}
            .carousel-caption
              %h2 What?
              %p A thought worth sharing.
      .item{:style => "text-align:center"}
        .wrapper
          %img{:alt => "business themes", :src => "assets/carousel/business_website_templates_3.jpg"}
            .carousel-caption
              %h2 Who?
              %p People who remembers to turn on the light.
    %a.left.carousel-control{"data-slide" => "prev", :href => "#myCarousel"} &lsaquo;
    %a.right.carousel-control{"data-slide" => "next", :href => "#myCarousel"} &rsaquo;